<%# @articles.each do |article| %>
  <h2><%= link_to article.name, article %>  <small><em><%= article.timestamp %></em></small></h2>
  <div class="content"><%= simple_format(article.content) %></div>
<%# end %>